@page "/"
@using LocalChatApp.Services.Abstraction
@using Microsoft.Extensions.Configuration
@using System.Net.Http.Json
@using Contracts

@inject IHttpClientFactory ClientFactory
@inject IServerUriService ServerUriService



Welcome to your new app. @AppInfo.Current.VersionString

<SurveyPrompt Title="How is Blazor working for you?" />


<button class="btn btn-primary" @onclick="GetData">Get data</button>
@foreach (var item in Data)
{
    <p>@item.Date @item.TemperatureC</p>
}


@code {
    
    private IEnumerable<WeatherForecast> Data = Enumerable.Empty<WeatherForecast>();

    private async Task GetData()
    {
        var serverUri = await ServerUriService.GetServerUriAsync();

        var client = ClientFactory.CreateClient();
        client.BaseAddress = new Uri(serverUri);

        Data = await client.GetFromJsonAsync<List<WeatherForecast>>("/weatherforecast");
    }

   
}