
<div class="row">
    <div class="col-md-12">
        @foreach (var image in Images)
        {
            <div class="image-box">
                @if (image.Selected)
                {
                    <img class="active" src="images/default-avatars/@image.Src" width="50" height="50" @onclick="@(async ()=> await SelectAvatar(image))" />
                }
                else
                {
                    <img src="images/default-avatars/@image.Src" width="50" height="50" @onclick="@(async ()=> await SelectAvatar(image))" />
                }
            </div>
        }
    </div>
</div>



@code {
    [Parameter]
    public string UserAvatar { get; set; }

    [Parameter]
    public EventCallback<string> UserAvatarChanged { get; set; }

    private List<Image> Images = new List<Image>
    {
        new Image{Src = "379332_boss_2.svg"},
        new Image{Src = "379333_3_boss.svg"},
        new Image{Src = "379334_businesswoman_1.svg"},
        new Image{Src = "379339_1_man.svg"},
        new Image{Src = "379345_nurse_1.svg"},
        new Image{Src = "379357_woman.svg"},
        new Image{Src = "379359_woman.svg"},
        new Image{Src = "379363_waitress_1.svg"},
        new Image{Src = "379372_woman_telemarketer_woman_telemarketer_2.svg"},
        new Image{Src = "379379_surgeon.svg"},
        new Image{Src = "379380_surfer.svg"},
        new Image{Src = "379383_student_3_student.svg"},
        new Image{Src = "379387_spongebob.svg"},
        new Image{Src = "379389_3_soldier_soldier.svg"},
        new Image{Src = "379398_santa.svg"},
        new Image{Src = "379400_rasta.svg"},
        new Image{Src = "379404_rocker.svg"},
        new Image{Src = "379406_1_road_worker.svg"},
        new Image{Src = "379410_2_rapper_rapper.svg"},
        new Image{Src = "379420_prisoner.svg"},
        new Image{Src = "379434_ninja.svg"},
        new Image{Src = "379442_man.svg"},
        new Image{Src = "379444_man.svg"},
        new Image{Src = "379446_man.svg"},
        new Image{Src = "379448_man.svg"},
        new Image{Src = "379452_magician.svg"},
        new Image{Src = "379470_hacker.svg"},
        new Image{Src = "379476_furby.svg"},
        new Image{Src = "379478_farmer.svg"},
        new Image{Src = "379504_2_chef_chef.svg"},
        new Image{Src = "379530_burglar.svg"},
        new Image{Src = "379532_boss.svg"},
        new Image{Src = "379542_batman.svg"}
    };


    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(UserAvatar))
        {
            var defaultOne = Images.First();
            defaultOne.Selected = true;

            UserAvatar = defaultOne.Src;
            return;
        }

        Images.First(x => x.Src == UserAvatar).Selected = true;
    }

    private async Task SelectAvatar(Image image)
    {
        UserAvatar = image.Src;

        Images.ForEach(img =>
        {
            img.Selected = false;
        });

        image.Selected = true;

        await UserAvatarChanged.InvokeAsync(UserAvatar);
    }

    private class Image
    {
        public string Src { get; set; }

        public bool Selected { get; set; }
    }


}
